@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.task_title {
  word-wrap: break-word;
  word-break: break-all;
  height: 80px;
}
