<li class="list-group-item">

  <div class="input-group mb-3">
    <div *ngIf="!task.completed" class="input-group-text">
      <input class="form-check-input mt-0" type="checkbox" value=""
      [checked]="task.completed"
(change)="completeTask()" aria-label="Checkbox for following text input">
    </div>

    <input #taskField type="text" class="form-control" [value]="task.title" aria-label="Recipient's username" aria-describedby="button-addon2" [disabled]="disabled">

    <button (click)="editTask()">Edit</button>
    <button (click)="deleteTask()">Delete</button>

    <!-- </div> -->
  </div>

  <!-- <input *ngIf="!task.completed" class="form-check-input me-1"
type="checkbox"
[checked]="task.completed"
(change)="completeTask()"
value="true" aria-label="...">

  <input [value]="task.title" [disabled]="disabled" class="task_title" type="text"/> -->
  <!-- {{ task.title }} + {{ disabled }} -->
</li>